/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style: none;
}
.wrapper{
    background-color: #525252;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    /* background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png); */
    position: relative;
    opacity: 90%;
    backdrop-filter: blur(200000px);
    background: transparent; 
}
/* GLOBAL HEADER */
.hover-logo:hover{
    display: block;
}
.main-page-header{
    background-color: #212020;
    position: fixed;
    width:100%;
    height: 104px;
    top: 0px;
    z-index: 3;
}
.header-logo{
    height: 104px;
    display: flex;
    justify-content: center;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px auto;
    height: 104px;
    gap: 235px  ;
}
.header-navigation ul{
    display: grid;
    grid-template-columns: repeat(5, 165px);
    grid-template-rows: 104px;
}
.header-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    color: white;
    transition:all 0.2s ease-in, color 0.5s linear;
}
.header-list:hover{
    background-color: #525252;
    cursor: pointer;
}
.header-list.active {
    transition: none;
    background-color: white;
    color: black;
  }
.header-logo-link{
    background: url(../MainPageImages/geowrapblack.png);
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition:all 0.2s ease-in, color 0.5s linear;
}
.header-logo{
    width: 220px;
    height: 104px;
}
.header-logo-link:hover{
    background:url(../MainPageImages/GeoWrapLogo2.jpg);
    background-size: cover;
}
.header-list a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
/* MAIN SECTION */
.main-showcase-section{
    max-width: 100%;
    margin:104px auto auto auto;
    width: 100%;
    min-height: 850px;
    position: relative;
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    background-size: cover;
    opacity: 90%;
}
.middle-content{
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    opacity: 100%;
}
.main-section-grid-content{
    display: grid;
    grid-template-rows: 200px minmax(500px, auto);
    color: white;
}
.main-section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-family: 'PoppinsBold';
}
.main-section-content-paragraph{
    font-size: 17px;
    font-family: 'PoppinsBold';
}
.main-section-content{
    display: grid;
    grid-template-columns: 512px 512px;
    justify-content: space-between;
}
.main-section-content-video{
    position: relative;
}
.main-section-content-video{
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.main-section-video video{
    width: 220px;
    position: absolute;
    left: 200px;
    top: 0px;
}
.video-shape{
    clip-path: polygon(55% 0, 100% 0, 100% 66%, 0 67%);
    background-color: black;
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}
/* WRAPPERS SECTION */
.wrappers-section{
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 90%;
}
.wrappers-section-content{
    display: grid;
    grid-template-columns: 512px 512px;
    gap: 100px;
    color: white;
    min-height: 800px;
}
.wrappers-video video{
    width: 420px;
}
.wrappers-paragraph{
    font-size: 17px;
    font-family: 'PoppinsBold';
    display: grid;
    gap: 20px   ;
    grid-template-rows: 450px 300px;
}
/* TEAM SECTION */
.wrapper-team{
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    min-height: 1250px;
    position: relative;
    opacity: 90%;
}
.wrapper-team-grid{
    display: grid;
    grid-auto-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 30px;
}
.wrapper-team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 150px;
}
.wrapper-team-title h2{
    font-family: 'PoppinsBold';
    font-size: 50px;
    color: white;
}
.wrapper-team-info{
    display: flex;
    justify-content: center;
    gap: 250px;
}
.wrapper-team-paragraph{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 320px;
    height: 270px;
    background-color: rgba(49, 46, 46, 0.009);
    background-color: #525252; 
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);  
}
.wrapper-team-paragraph p{
    font-size: 17px;
    color: white;
    font-family: 'PoppinsRegular';
}
.wrapper-team-img img{
    width: 1000px;
    height: 700px;
}
.wrapper-team-img{
    display: flex;
    justify-content: center;
}
/* CONCLUSION SECTION */
.section-conclusion{
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 90%;
}
.contact-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact-paragraph p{
    color: white;
    font-size: 25px;
    font-family: 'PoppinsRegular';
}
.conclusion-button{
    display: flex;
    justify-content: center;
}
.contact-conclusion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px;
}
.join-conclusion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px;
}
.join-paragraph{
    display: flex;
    justify-content: center;
}
.join-paragraph p{
    color: white;
    font-size: 25px;
    font-family: 'PoppinsRegular';
}
.conclusion-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px;
}
.conclusion{
    display:flex;
    justify-content: center;
    height: 140px;
}
.conclusion p{
    color: white;
    font-size: 50px;
    font-family: 'PoppinsRegular';
}
.burger-bars{
    display: flex;
    justify-content: flex-end;
}
/* GLOBAL FOOTER */
.video-background{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/* buttons */
.main-section-button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 170px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'PoppinsBold';
    color: white;
}
.section-button:hover{
    background-color: white;
    color: black;
}
.wrappers-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
.global-footer{
    background-color: #212020;
    position: relative;
    height: 190px;
}
.global-footer-grid{
    display:grid;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns:1fr 1fr;
}
.global-footer-left-side{
    display: grid;
    grid-template-rows:70px 50px 30px ;
    color: white;
    font-family: 'PoppinsRegular';
}
.global-footer-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.global-footer-contact-phones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-footer-contact-emails{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-footer-social-media ul{
    display: flex;
    gap: 50px   ;
    justify-content: center;
}
.global-footer-rights-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.global-footer-rights-paragraph a{
    color: red;
}
.global-footer-right-side iframe{
    width: 100%;
    height: 180px;
}
/* media */
.burger-bars{
    display: none;
    cursor: pointer;
}
.burger-nav{
    position: fixed;
    right: 0;
    top: 104px;
    width: 300px;
    top: 104px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: #212020;
    opacity: 0;
    right: -100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
.burger-nav-content-socmedia ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.burger-nav-content-socmedia img{
    width: 30px;
}
.burger-nav-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'PoppinsRegular';
}
.burger-nav-list{
    display: flex;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 10px;
}
.bar{
    display: block;
    width: 50px;
    height: 6px;
    margin: 10px auto;
    -webkit-transition: all, 0.3s ease-in-out;
    background-color: white;
}
@media (max-width: 1280px) {
    .header-content{
        gap: 0px;
        max-width: 1024px;
    }
    .container{
        max-width: 1024px;
    }
    .main-showcase-section{
        display: flex;
    }
    .wrappers-section-content{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .wrappers-paragraph{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .wrappers-info{
        justify-content: center;
        display: flex;
    }
    .wrappers-conclusion{
        display: flex;
        justify-content: center;
    }
    .wrappers-conclusion p{
        justify-content: center;
        width: 768px;
        min-height: 250px;
    }
    .wrappers-info p{
        width: 768px;
        min-height: 350px;
    }
    .wrappers-video{
        display: flex;
        justify-content: center;
    }
    .main-section-content{
        gap: 0px   ;
    }
}
@media (max-width: 1024px) {
    .burger-bars{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    .burger-nav.active{
        opacity: 95%;
        display: flex;
        right: 0;
    }
    .header-navigation{
        display: none;
    }
    .burger-bar.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger-bar.active .bar:nth-child(1){
        transform: translateY(24px) rotate(45deg);
    }
    .burger-bar.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .video-shape{
        display: none;
    }
    .main-section-content{
        grid-template-columns: none;
        grid-template-rows: 300px 512px;
        justify-content: center;
        gap: 30px   ;
    }
    .main-section-button{
        height: 100px;
    }
    .main-section-content-video{
        grid-row-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-section-content-video video{
        position:static;
    }
    .main-section-content-paragraph {
        display: flex;
        justify-content: center;
    }
    .main-section-content-paragraph p{
        width: 750px;
        text-align: center;
    }
    .wrapper-team{
        min-height: 1000px;
    }
    .wrapper-team-info{
        gap: 100px  ;
    }
    .wrapper-team-img img{
        width: 750px;
        height: 500px;
    }
}
@media (max-width: 768px) {
    .main-section-title{
        font-size: 25px;
    }
    .main-section-content{
        grid-template-columns: none;
        grid-template-rows: 500px 512px;
        justify-content: center;
        gap: 30px   ;
    }
    .main-section-button{
        height: 100px;
    }
    .main-section-content-video{
        grid-row-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-section-content-video video{
        position:static;
    }
    .main-section-content-paragraph {
        display: flex;
        justify-content: center;
    }
    .main-section-content-paragraph p{
        width: 425px;
        text-align: center;
    }
    .wrapper-team{
        min-height: 1000px;
    }
    .wrapper-team-info{
        gap: 100px  ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .wrapper-team-img img{
        width: 425px;
        height: 300px;
    }
    .wrappers-info p{
        width: 420px;
        min-height: 350px;
    }
    .wrappers-conclusion p{
        justify-content: center;
        width: 420px;
        min-height: 250px;
        margin-bottom: 30px;
    }
    .conclusion p{
        font-size: 25px;
    }
    .conclusion{
        height: 100px;
    }
    .global-footer-grid{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width: 425px) {
    .main-section-title{
        font-size: 20px;
    }
    .main-section-content{
        grid-template-columns: none;
        grid-template-rows: 700px 512px;
        justify-content: center;
        gap: 30px   ;
    }
    .main-section-button{
        height: 100px;
    }
    .main-section-content-video{
        grid-row-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-section-content-video video{
        position:static;
    }
    .main-section-content-paragraph {
        display: flex;
        justify-content: center;
    }
    .main-section-content-paragraph p{
        width: 320px;
        text-align: center;
    }
    .wrappers-video video{
        width: 320px;
    }
    .wrapper-team{
        min-height: 1000px;
    }
    .wrapper-team-info{
        gap: 100px  ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .wrapper-team-img img{
        width: 320px;
        height: 200px;
    }
    .wrappers-info p{
        width: 320px;
        min-height: 350px;
    }
    .wrappers-conclusion p{
        justify-content: center;
        width: 320px;
        min-height: 250px;
        margin-bottom: 30px;
    }
    .conclusion p{
        font-size: 20px;
    }
    .conclusion{
        height: 50px;
    }
    .global-footer-grid{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .global-footer-contacts{
        gap: 0;
    }
}