/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style: none;
}
.wrapper{
    background-color: #525252;
    width: 100%;
    min-height: 100vh;
}
.video-background{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/* GLOBAL HEADER */
.hover-logo:hover{
    display: block;
}
.main-page-header{
    background-color: #212020;
    position: fixed;
    width:100%;
    height: 104px;
    top: 0px;
    z-index: 3;
}
.header-logo{
    height: 104px;
    display: flex;
    justify-content: center;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px auto;
    height: 104px;
    gap: 235px  ;
}
.header-navigation ul{
    display: grid;
    grid-template-columns: repeat(5, 165px);
    grid-template-rows: 104px;
}
.header-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    color: white;
    transition:all 0.2s ease-in, color 0.5s linear;
}
.header-list:hover{
    background-color: #525252;
    cursor: pointer;
}
.header-list:first-child{
    background-color: white;
    color: black;
}
.header-list.active {
    transition: none;
    background-color: white;
    color: black;
  }
.header-logo-link{
    background: url(../MainPageImages/geowrapblack.png);
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition:all 0.2s ease-in, color 0.5s linear;
}
.header-logo{
    width: 220px;
    height: 104px;
}
.header-logo-link:hover{
    background:url(../MainPageImages/GeoWrapLogo2.jpg);
    background-size: cover;
}
.header-list a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
/* Global FOOTER */
/* footer */
.global-footer{
    background-color: #212020;
    position: relative;
    height: 190px;
}
.global-footer-grid{
    display:grid;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns:1fr 1fr;
}
.global-footer-left-side{
    display: grid;
    grid-template-rows:70px 50px 30px ;
    color: white;
    font-family: 'PoppinsRegular';
}
.global-footer-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.global-footer-contact-phones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-footer-contact-emails{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-footer-social-media ul{
    display: flex;
    gap: 50px   ;
    justify-content: center;
}
.global-footer-rights-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.global-footer-rights-paragraph a{
    color: red;
}
.global-footer-right-side iframe{
    width: 100%;
    height: 180px;
}
/* SERVICES SECTION */
.services-section-content{
    display: grid;
    grid-template-rows: 150px auto;
    position: relative;
}
.services-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PoppinsRegular';
    color: white;
    font-size: 25px;
}
.option-services-section{
    margin-top: 104px;
    max-width: 1280px;
    margin: 104px auto 0 auto;
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    background-size: cover;
    position: relative;
    opacity: 90%;
}
.middle-content{
    max-width: 1150px;
    margin: 0 auto;
}
.services-option{
    justify-content: center;
    display: grid;
    color: white;
    grid-template-columns: repeat(4, 255px);
    gap: 50px   ;
}

.service-individual-option{
    display: grid;
    grid-template-columns: 255px;
    grid-template-rows: 50px 200px;
    cursor: pointer;
}
.service-individual-option h2{
    display:flex;
    justify-content: center;
    font-family: 'PoppinsRegular';
}
.service-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.service-img img{
    width: 200px;
    height: 200px;
}
#a,#b,#c,#d{
    display: none;
}
/* SELECTED SERVICES */
.services-active-section{
    min-height: 90vh;
    max-width: 1280px;
    margin: 0 auto;
    background: url(../MainPageImages/matte-black-color-solid-background-1920x1080.png);
    position: relative;
    opacity: 90%;
}
.selected-service-section-grid{
    display: grid;
    grid-template-rows: 150px 800px;
}
.selected-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PoppinsBold';
}
.selected-section-title h2{
    color: white;
    font-size: 35px;
}
.selected-service-section-content{
    display: grid;
    grid-template-columns: 512px 512px ;
}
.colored-wrap-video{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}
.colored-wrap-video video{
    width: 420px;
}
.selected-service-section-info{
    display: grid;
    grid-template-rows: 300px 225px 210px;
}
.selected-Service-paragraph p{
    font-size: 20px;
    font-family: 'PoppinsRegular';
    color: white;
    text-align: center;
}
.selected-service-conclusion{
    display: grid;
    grid-template-rows: repeat(3, 70px);
}
.selected-service-conclusion-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-service-conclusion-title h2{
    color: white;
    font-size: 25px;
    font-family: 'PoppinsRegular';
}
.selected-service-conclusion-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 170px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'PoppinsBold';
    color: white;
}
.section-button:hover{
    background-color: white;
    color: black;
}